@import "./objects.less";

.hero{
    height: 20em;
    position: relative;
    margin-top: 2em;
    .hero__img{
        object-fit: cover;
        filter: brightness(50%);
        object-position: top;
    }


    .hero__title{
        position: absolute;
        top: 30%;
        left: 10%;
        font-size: 3em;
        font-weight: 800;
        color: @secondcolor;
    }

    .hero__content{
        position: absolute;
        width: 30%;
        color: @secondcolor;
        top: 50%;
        left: 10%;
        font-weight: 300;
    }
}


.main{
    margin-top: 5em;
    width: 40%;
    h1{
        color: @secondcolor;
        background-color: @buttontext;
        font-size: 2.5em;
        text-align: center;
        margin-bottom: 1em;
        padding: 0.5em;
    }

    h3{
        text-align:justify;
        margin-bottom: 3em;
    }
}

// MEDIA QUERIES
@media (max-width: 1020px){
    .hero {
            height: 20em;
            position: relative;
            margin-top: 2em;
    
            .hero__img {
                object-fit: cover;
                filter: brightness(50%);
                object-position: top;
            }
    
    
            .hero__title {


                left: 50%;
                transform: translateX(-50%);



            }
    
            .hero__content {

                width: 50%;
                text-align: center;


                left: 50%;
                transform: translateX(-50%);

            }
        }
}

@media (max-width: 700px){
    .hero {
            .hero__title {
    
                top: 20%;
            }
    
            .hero__content {
    
                width: 70%;
    
                top: 40%;

    
            }
        }

    .main {
        margin-top: 5em;
        width: 85%;

        h1 {
            color: @secondcolor;
            background-color: @buttontext;
            font-size: 2em;
            text-align: center;
            margin-bottom: 1em;
            padding: 0.5em;
        }

        h3 {
            text-align: left;
            line-height: 1.5;
            margin-bottom: 3em;
            font-weight: 500;
        }
    }
}
